/*CSS for the UI and navbar*/

html, body
{
    height: 100%;
}

#navbarContainer {
    background-color: #242c44;
    z-index: 1;
    float: left; /*The container is fixed to the left side of the page*/ 
    position: absolute; /*Allows navbar to overlap with the page when opened */
    padding: 10px;
    height: 90%;
    width: 110px;
    margin-left: -15rem; /*The container is originally out of sight from the page*/
    transition: margin 0.5s ease-out;
}

/*The top bar containing the logo*/
#topContainer {
    background-color: #b18b4f;
    z-index: 1;
    float: top;
    height: 75px;
    width: 100%;
}

#logo {
    width:150px;
    height:90px;
    display: block;
    margin-left: auto; /*Logo is in the centre of the topContainer*/
    margin-right: auto;
}

#navbarButton {
    background-color: #242c44 !important;
    border: 2px solid black;
    border-radius: 8px; /*Rounded edges of the button*/
    z-index: 2; /*Button is on top to the topContainer*/
    width: 70px;
    height: 40px;
    color: white;
    text-align: center;
    display: inline-block;
    position: absolute; /*Button is unaffected by other containers*/
    top: 15px;
    left: 15px;
}

/*Changes navbar text colour to white*/
.navbar-toggler-icon {
    color: white !important;
}

/*Changes navbar text colour to white*/
.navbar-nav button{
    color: white !important;
}

/*Changes navbar menu options text colour to white*/
.navbar-nav li a{
    color: white !important;
}

/*Modal contents side*/
.modal-content {
    width: 100%;
    height: 90%;
} 

/*When the navbar button is clicked, this class is toggled, moving the navbar within sight of the page from the left*/
body.sb-sidenav-toggled #navbarContainer {
    margin-left: 0rem; /*The container becomes in view*/
}

#profilePicture {
    display:block;
    position: absolute;
    z-index: 2; /*Button is on top to the topContainer*/
    border-radius: 50%;
    top: 5px;
    right: 15px;
    height:65px;
    width:65px;
}