<!DOCTYPE html>

<!--Loads static files of the project-->
{% load static %}

<!--Checks if the user is a gamekeeper-->
{% if not user.gamekeeper %}

<!--If not then return the user to the home page-->
<meta http-equiv="Refresh" content="0; url={% url 'academic_adventure:home' %}">

{% endif %}

<html>
    <head>
        <link rel="icon" href="{% static 'academic_adventure/favicon.ico'%}">
        <!--Includes bootstrap files-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!--CSS for UI and navbar-->
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/profile.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/code.css' %}">
        <script type="text/javascript" src="{% static 'academic_adventure/navbar.js' %}"> </script>
        <title>Code</title>
        <!--Scales the screen to the size of the viewport-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <!-- Script for the print button to set the print content -->
        <script>
          /**
           * Opens the print menu to print contents of a given div
           * @param divName: Name of the div to print the contents of
           */
          function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML; //Gets the contents to print
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print(); //Opens the print window

            document.body.innerHTML = originalContents; //Restores HTML to original contents

            window.location.reload(); //Reloads the page to restore menu bar JS
          }
        </script>
    </head>

    <body>

      <!--HTML for navigation bar-->
      <div id="topContainer">
        <img src="{% static 'academic_adventure/logo.png' %}"  id="logo" alt="academic adventure logo">
        <!-- Navbar Button to toggle js that allows the navbarContainer to appear and disappear -->

        <button type="button" id="navbarButton"><img id="dropdownIcon" src="{% static 'academic_adventure/DropdownIcon.png' %}"></button>

        <!-- Profile Button that shows user's profile picture -->
        <button type="button" id="profilePicture" data-bs-toggle="modal" data-bs-target="#profileModal"><img src="{% static 'academic_adventure/user.png' %}"></button>
    </div>
        <div class="d-flex d-grid" id="navbarContainer">
          <ul class="navbar-nav ms-auto">
              <!-- Link to redirect to specified page -->
          <li class="nav-item active">
            <a class="nav-link iconBase" href="{% url 'academic_adventure:home' %}"><img class="icon" src="{% static 'academic_adventure/HomeIcon.png' %}">Home</a>
          </li>

          <!-- Bottom Padding for shop button -->

          <li class="nav-item">
            <a class="nav-link iconBase" href="{% url 'academic_adventure:events' %}"><img class="icon" src="{% static 'academic_adventure/EventsIcon.png' %}">Events</a>
            </li>
          {% if not userevent %}

          <!-- Button to open shop modal -->
          <button class="nav-link iconBase" data-bs-toggle="modal" data-bs-target="#shopModal"> 
            <img class="icon" src="{% static 'academic_adventure/ShopIcon.png' %}">Shop

          </button>
          {% endif %}
          <li class="nav-item" style="padding-top: 5px;">
            <a class="nav-link iconBase" href="{% url 'academic_adventure:leaderboard' %}"><img class="icon" src="{% static 'academic_adventure/LeaderboardIcon.png' %}">Rankings</a>
            </li>
            <li class="nav-item" id="logout">
                <a class="nav-link iconBase" href="{% url 'logout' %}"><img class="icon" src="{% static 'academic_adventure/LogoutIcon.png' %}">Logout</a>
            </li>

          <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>

          </ul>
        </div>
      </div>
    </div>

     <!--Loads the QR code for the event-->
      {% load qr_code %}
      <div id="printContent">
        <img src="{% static 'academic_adventure/logo.png' %}"  id="logoPrint" alt="academic adventure logo">
        <div id="printContent0">
          <h1>Event: {{event.name}} </h1>

          {% qr_from_text event.code size="L" %}
        </div>
    </div>

    </body>

        <!--Displays Print button for the event's QR code-->
      <div id="printContainer">
        <!-- <button type="text/css" media="print" id="printButton" onclick="printDiv('printableArea')" >Print</button> -->
        <input type="button" id="printButton" onclick="printDiv('printContent')" value="Print" />
      </div>
  
      <!--Displays members registered for the event-->
       <div id="memberContainer">
        <h3>Members of event:</h3>
        {% for member in event_members %}

         <p>{{member.username}}</p>

        {% endfor %}
       </div>

        <!--Profile page modal-->
        <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModal" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="profileModal">Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <div class="col-md-6" id="userProfilePic">
                      <h2>Hello {{user.username}}!</h2>
                      <img src="{{ user.profile_pic.img.url }}">
                      <img src="{% static 'academic_adventure/logo.png' %}"  id="logo" alt="academic adventure logo">
                      <button type="button" data-bs-toggle="modal" data-bs-target="#inventoryModal">Change</button>
                      <br>
                      <br>
                      <br>
                      <br>
                    </div>

                    <div class="col-md-6" id="userInfo">
                        <h3>Your stats:</h3>
                        <h2>Overall score: {{user.score|floatformat:"2"}}</h2>
                        <p>Points: {{user.points}}</p>
                        <p>Intelligence: {{user.intelligence}}</p>
                        <p>Sociability: {{user.sociability}}</p>
                        <p>Athleticism: {{user.athleticism}}</p>
                        <p>Intelligence position: {{intelligence_position}}</p>
                        <p>Sociability position: {{sociability_position}}</p>
                        <p>Athleticism position: {{athleticism_position}}</p>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

          <!--Change profile picture modal-->
          <div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="inventoryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inventoryModalLabel">Change profile picture</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
            
                  {% for pic in picinventory %}

                  <h4>{{pic.name}}</h4>
                  <img src="{{ pic.img.url }}">
                  <form method="post" action="/academic-adventure/changepic/">
                    {% csrf_token %} 
                    <button type="submit" name="picture" value="{{pic.id}}">Select</button>
                  </form>
                </br>
                  {% endfor %}

                </div>
                </div>
              </div>
            </div>
          </div>
        
        <!--Shop modal-->
        <div class="modal fade" id="shopModal" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="shopModalLabel">Shop</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  Shop Here
              </div>
            </div>
          </div>
        </div>
</html>