<!DOCTYPE html>

<!--Loads static files of the project-->
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="icon" href="{% static 'academic_adventure/favicon.ico'%}">
        <!--Include bootstrap files-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!--Includes javascript package to scan event-->
        <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"> </script>
        <!--Includes stylesheets for the UI and navbar-->
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/events.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/profile.css' %}">
        <script type="text/javascript" src="{% static 'academic_adventure/navbar.js' %}"> </script>
        <title>Events</title>
        <style>
        #preview{
          width: 100%;
          height: 500px;
          margin: 0px auto;
        }
        </style>
    </head>

    <body>
      <!--HTML for navigation bar-->
      <div id="topContainer">
        <img src="{% static 'academic_adventure/logo.png' %}"  id="logo" alt="academic adventure logo">
        <!-- Navbar Button to toggle js that allows the navbarContainer to appear and disappear -->
        <button type="button" id="navbarButton"><img id="dropdownIcon" src="{% static 'academic_adventure/DropdownIcon.png' %}"></button>
        <!-- Profile Button that shows user's profile picture -->
        {% if icon %}
        <button type="button" id="profilePicture" data-bs-toggle="modal" data-bs-target="#profileModal"><img src="{% get_media_prefix %}{{icon}}"></button>
        {% else %}
        <button type="button" id="profilePicture" data-bs-toggle="modal" data-bs-target="#profileModal"><img src="{% static 'academic_adventure/user.png' %}"></button>
        {% endif %}

    </div>
        <div class="d-flex" id="navbarContainer">
          <ul class="navbar-nav ms-auto">
              <!-- Link to redirect to specified page -->
          <li class="nav-item active">
            <a class="nav-link iconBase" href="{% url 'academic_adventure:home' %}"><img class="icon" src="{% static 'academic_adventure/HomeIcon.png' %}">Home</a>
          </li>
          <!-- Bottom Padding for shop button -->
          <li class="nav-item">
            <a class="nav-link iconBase" href="{% url 'academic_adventure:events' %}"><img class="icon" src="{% static 'academic_adventure/EventsIcon.png' %}">Events</a>
            </li>
          <li class="nav-item">
            <a class="nav-link iconBase" href="{% url 'academic_adventure:shop' %}"><img class="icon" src="{% static 'academic_adventure/ShopIcon.png' %}">Shop</a>
        </li>
          <li class="nav-item">
            <a class="nav-link iconBase" href="{% url 'academic_adventure:leaderboard' %}"><img class="icon" src="{% static 'academic_adventure/LeaderboardIcon.png' %}">Rankings</a>
            </li>
            <li class="nav-item" id="logout">
                <a class="nav-link iconBase" href="{% url 'logout' %}"><img class="icon" src="{% static 'academic_adventure/LogoutIcon.png' %}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

        <!--Display-->

        <!-- Header-->
        <header class="bg-dark py-5" style="padding-bottom: 10px; background-image: url({% static 'academic_adventure/eventsbackground.png' %});">
          <div class="container px-4 px-lg-5 my-5">
              <div class="text-center text-black">
                  <h1 class="display-4 fw-bolder">Events:</h1>
                  {% if potentialevents|length == 1 %}
                  <p class="lead fw-normal mb-0">There is {{potentialevents|length}} upcoming event. </p>
                  {% else %}
                  <p class="lead fw-normal mb-0">There are {{potentialevents|length}} upcoming events. </p>
                  {% endif %}
              </div>
          </div>
        </header>

        <!--Displays message to user if a message is passed in-->
        
        {% if message %}
        <div class="alert alert-danger" role="alert">
          {{message}}
        </div>
        {% elif success %}
        <div class="alert alert-success" role="alert">
          {{success}}
        </div>
        {% endif %}
    
        <!--Current event-->

        {% if userevent %}
        <div class="text-center text-black pt-2">
           <h3 class="mb-0">You are attending: </h3>
        </div>
       

        <div class="container d-flex justify-content-center">
          <ul class="list-group mt-1">
            <li class="list-group-item d-flex justify-content-between align-content-center" style="background-color: #b18b4f;">
              <div class="ml-2">
                <h6 class="mb-0 text-white">{{userevent.name}}:</h6>
                <p class="desc my-1 text-white">{{userevent.description}}</p>
                {% if userevent.duration == 1 %}
                <div class="about text-white"> <span>{{userevent.duration|floatformat:"0"}} hour.</span> <span>{{userevent.date}}</span> </div>
                {% else %}
                <div class="about text-white"> <span>{{userevent.duration|floatformat:"1"}} hours.</span> <span>{{userevent.date}}</span> </div>
                {% endif %}
                <form method="get" action="/academic-adventure/leave/{{userevent.code}}">
                  <input class="leavebutton btn btn-outline-light mt-1" type="submit" value="Leave Event">
                </form>
              </div>
            </li>
            </div>
          </ul>
        </div>

        
        
      
         
        {% else %}

        <div class="text-center text-black pt-2">
          <h3>You are not currently attending an Event.</h3>
          <p class="my-0">Want to join in? Look on the home page for events near you and head to their pinned location.</p>
          <p class="mt-0">When you are at an event's venue, click the button below to scan the QR code.</p>
          <!--Scan button-->
          <button type="button" data-bs-toggle="modal" data-bs-target="#scanModal" class="btn btn-outline-dark mt-auto">Scan</button>

      </br>
       </div>

        {% endif %}

        <!--List of society, course or close events -->

            
        <div class="text-center text-black pt-4">
          <h2 class="display-9">Upcoming Events:</h2>
          {% if potentialevents|length == 0 %}
          <p>No events within the next hour, come back later to check for more.</p>
          {% else %}
          <p>Events in the next hour:</p>
          {% endif %}
        </div>
        <div class="container d-flex justify-content-center">
          <ul class="list-group my-2">
            {% for event in potentialevents|slice:":4" %}
            <li class="list-group-item d-flex justify-content-between align-content-center">
              <div class="ml-2 w-75">
                <h6 class="mb-0">{{event.name}}</h6>
                <p class="desc my-1">{{event.description}}</p>
                {% if event.duration == 1 %}
                <div class="about"> <span>{{event.duration|floatformat:"0"}} hour.</span> <span>{{event.date}}</span> </div>
                {% else %}
                <div class="about"> <span>{{event.duration|floatformat:"1"}} hours.</span> <span>{{event.date}}</span> </div>
                {% endif %}
              </div>
            </li>
            {% endfor %} 

        <!--Modal for rest of events-->

        {% if potentialevents|length > 4%}

        <li class="list-group-item d-flex justify-content-between align-content-center">
          <div class="ml-2 w-75">
            <a data-bs-toggle="modal" data-bs-target="#youreventModal" href="#youreventModal" class="moreevents">Click to see all events.</a>
          </div>
        </li>

        {% endif %}

      
      </ul>
    </div>

        <!--List of created events-->

        {% if user.gamekeeper == True %}

        <div class="text-center text-black pt-2">
          <h2 class="display-6 fw-bolder">Gamekeeper Options:</h2>
        </div>

         <!--Create event button-->

         <div class="text-center text-black pt-4">
          <h2 class="display-9">Create Event:</h2>
          <form method="get" action="/academic-adventure/create">
            <input class="btn btn-outline-dark mt-auto" type="submit" value="Click Here!">
          </form>
        </div>


        <div id="events">
          <div class="text-center text-black pt-4">
            <h2 class="display-9">Your (Unexpired) Created Events:</h2>
            {% if hostevents|length == 0 %}
            <p>You have not got any events coming up. To create one, click the button above.</p>
            {% endif %}
          </div>
          <div class="container d-flex justify-content-center">
            <ul class="list-group my-3">
              {% for event in hostevents|slice:":4" %}
              <li class="list-group-item d-flex justify-content-between align-content-center">
                <div class="ml-2 w-75">
                  <a href="{% url 'academic_adventure:code' event_id=event.code %}" class="moreevents">{{event.date}} - {{event.name}}</a>
                </div>
              </li>

          {% endfor %}

          <!--Modal to display rest of created events-->

          {% if hostevents|length > 4%}

          <li class="list-group-item d-flex justify-content-between align-content-center">
            <div class="ml-2 w-75">
              <a data-bs-toggle="modal" data-bs-target="#yourcreatedModal" href="#yourcreatedModal" class="moreevents">Click to see all events.</a>
            </div>
          </li>

          {% endif %}
        </ul>
        </div>
      </div>

        {% endif %}

        <!--End Display-->

        <!--Modal for profile page-->
        <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModal" aria-hidden="true">
          <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="profileModal">Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-6" id="userProfilePic">
                          <h2>Hello {{user.username}}!</h2>
                          {% if pic %}
                          <img src="{% get_media_prefix %}{{pic}}">
                          {% else %}
                          <img src="{% static 'academic_adventure/userbig.png' %}">                          {% endif %}
                          <br>
                          <button type="button" data-bs-toggle="modal" data-bs-target="#inventoryModal">Change Avatar</button>
                          <br>
                          <br>
                          <br>
                          <br>
                        </div>

                        <div class="col-md-6" id="userInfo">
                            <h3>Your stats:</h3>
                            <h2>Overall score: {{user.score|floatformat:"2"}}</h2>
                            <p>Points: {{user.points}}</p>
                            <p>Intelligence: {{user.intelligence}}</p>
                            <p>Sociability: {{user.sociability}}</p>
                            <p>Athleticism: {{user.athleticism}}</p>
                            <p>Intelligence position: {{intelligence_position}}</p>
                            <p>Sociability position: {{sociability_position}}</p>
                            <p>Athleticism position: {{athleticism_position}}</p>
                        </div>
                  </div>
              </div>
            </div>
          </div>
        </div>

          <!--Change profile picture modal-->
          <div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="inventoryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inventoryModalLabel">Change profile picture</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
            
                  {% for pic in user_pictures%}

                  <h4>{{pic.name}}</h4>
                  <img src="{{ pic.img.url }}">
                  <form method="post" action="/academic-adventure/changepic/">
                    {% csrf_token %} 
                    <button type="submit" name="picture" value="{{pic.id}}">Select</button>
                  </form>
                </br>
                  {% endfor %}

                </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Scan modal-->
          <div class="modal fade" id="scanModal" tabindex="-1" aria-labelledby="scanModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="scanModalLabel">Scan</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  
                  <video id="preview">

                  <form method="POST" id="scanned">
                      {% csrf_token %} 
                      <input type="hidden" name="scancontent" id="scancontent" value="" />
                      <input type="hidden" name="userlat" id="userlat" value=""/>
                      <input type="hidden" name="userlng" id="userlng" value=""/>
                      <script>
                        if(navigator.geolocation){ //Checks if browser has geolocator capability
                          navigator.geolocation.getCurrentPosition(function(position){ //Gets and sets current position of user
                            document.getElementById("userlat").value = position.coords.latitude;
                            document.getElementById("userlng").value = position.coords.longitude;
                          });
                        } else { //If geolocator not available then display an error message
                          alert("Geolocation not available for your browser. Please use a browser that supports HTML geolocation")
                        }
                      </script>
                  </form>
          
                  <script type="text/javascript">
                      //Creating a scanner object using the video HMTL tag created previously as "preview".
                      let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
                          //Adding a listener to the scanner object with a function to execute when triggered with the
                          //content of the scan as argument and the following instructions:
                          scanner.addListener('scan', function (content) {
                            //Adding the content to the hidden input "scancontent" from the form "scanned".
                            document.getElementById('scancontent').value = content;
                            //Submitting the "scanned" form 
                            document.getElementById('scanned').submit();
                            alert("Code scanned!");
                          });
                      //Asking Instascan to get the user's cameras as an array called "cameras" and then executing a function 
                      //with the detected cameras as argument.  
                      Instascan.Camera.getCameras().then(function (cameras) {
                          // If at least one camera is detected:
                          if (cameras.length > 0) {
                              // The first camera is used.
                              scanner.start(cameras[0]);
                          } else {
                              console.error('No cameras found.');
                          }
                      }).catch(function (e) {
                          console.error(e);
                      });
                  </script>
                </div>
                </div>
              </div>
            </div>
          </div>

          <!--Your Events modal-->
          <div class="modal fade" id="youreventModal" tabindex="-1" aria-labelledby="youreventModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="yourEventModalLabel">Upcoming Events</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="text-center text-black pt-4">
                    <h2 class="display-9">Upcoming Events:</h2>
                  </div>

                  <div class="container d-flex justify-content-center">
                    <ul class="list-group my-2">
                      {% for event in potentialevents %}
                      <li class="list-group-item d-flex justify-content-between align-content-center">
                        <div class="ml-2 w-75">
                          <h6 class="mb-0">{{event.name}}</h6>
                          <p class="desc my-1">{{event.description}}</p>
                          {% if event.duration == 1 %}
                          <div class="about"> <span>{{event.duration|floatformat:"0"}} hour.</span> <span>{{event.date}}</span> </div>
                          {% else %}
                          <div class="about"> <span>{{event.duration|floatformat:"1"}} hours.</span> <span>{{event.date}}</span> </div>
                          {% endif %}
                        </div>
                      </li>
                      {% endfor %} 
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!--Your Created events modal-->
          <div class="modal fade" id="yourcreatedModal" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="shopModalLabel">Your Created Events</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="text-center text-black pt-4">
                    <h2 class="display-9">Your (Unexpired) Created Events:</h2>
                  </div>
                  <div class="container d-flex justify-content-center">
                    <ul class="list-group my-3">
                      {% for event in hostevents%}
                      <li class="list-group-item d-flex justify-content-between align-content-center">
                        <div class="ml-2 w-75">
                          <a href="{% url 'academic_adventure:code' event_id=event.code %}" class="moreevents">{{event.date}} - {{event.name}}</a>
                        </div>
                      </li>
        
                  {% endfor %}
                </ul>
              </div>
                </div>
              </div>
            </div>
          </div>
        </body>
        <footer class="py-3">
          <div class="container"><p class="m-0 text-center text-black">Copyright &copy; Academic Adventure 2022</p></div>
        </footer>
</html>