<!DOCTYPE html>

<!--Loads the static CSS in the project-->
{% load static %}

<html>
    <head>
        <!--Scales to mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <link rel="icon" href="{% static 'academic_adventure/favicon.ico'%}">
        <!--Includes bootstrap files-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!--The polyfill is needed for displaying of the map-->
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		
		<!--This styling is used to dictate the sizing of the map on the page and UI design-->
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/profile.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'academic_adventure/home.css' %}">
        <script type="text/javascript" src="{% static 'academic_adventure/navbar.js' %}"> </script>

		<!--This script will create a new google maps entity within the map div-->
		<!--Zoom 15 is used to move it to a local map display-->
		<!--Center used to look at the middle of campus-->
		<script>
			let map; //instantiated a 'map' variable to place a google map on this page

			function initMap() { //function to create the google map on this page

                // Create a new StyledMapType object, passing it an array of styles,
                // and the name to be displayed on the map type control.
                const styledMapType = new google.maps.StyledMapType( //a list of style configs for google map elements
                    /*Google maps generated code to display a styled map*/
                    [
                        { elementType: "geometry", stylers: [{ color: "#ebe3cd" }] },
                        { elementType: "labels.text.fill", stylers: [{ color: "#523735" }] },
                        { elementType: "labels.text.stroke", stylers: [{ color: "#f5f1e6" }] },
                        {
                            featureType: "administrative",
                            elementType: "geometry.stroke",
                            stylers: [{ color: "#c9b2a6" }],
                        },
                        {
                            featureType: "administrative.land_parcel",
                            elementType: "geometry.stroke",
                            stylers: [{ color: "#dcd2be" }],
                        },
                        {
                            featureType: "administrative.land_parcel",
                            elementType: "labels.text.fill",
                            stylers: [{ color: "#ae9e90" }],
                        },
                        {
                            featureType: "landscape.natural",
                            elementType: "geometry",
                            stylers: [{ color: "#dfd2ae" }],
                        },
                        {
                            featureType: "poi",
                            elementType: "geometry",
                            stylers: [{ color: "#dfd2ae" }],
                        },
                        {
                            featureType: "poi",
                            elementType: "labels.text.fill",
                            stylers: [{ color: "#93817c" }],
                        },
                        {
                            featureType: "poi.park",
                            elementType: "geometry.fill",
                            stylers: [{ color: "#a5b076" }],
                        },
                        {
                            featureType: "poi.park",
                            elementType: "labels.text.fill",
                            stylers: [{ color: "#447530" }],
                        },
                        {
                            featureType: "road",
                            elementType: "geometry",
                            stylers: [{ color: "#f5f1e6" }],
                        },
                        {
                            featureType: "road.arterial",
                            elementType: "geometry",
                            stylers: [{ color: "#fdfcf8" }],
                        },
                        {
                            featureType: "road.highway",
                            elementType: "geometry",
                            stylers: [{ color: "#f8c967" }],
                        },
                        {
                            featureType: "road.highway",
                            elementType: "geometry.stroke",
                            stylers: [{ color: "#e9bc62" }],
                        },
                        {
                            featureType: "road.highway.controlled_access",
                            elementType: "geometry",
                            stylers: [{ color: "#e98d58" }],
                        },
                        {
                            featureType: "road.highway.controlled_access",
                            elementType: "geometry.stroke",
                            stylers: [{ color: "#db8555" }],
                        },
                        {
                            featureType: "road.local",
                            elementType: "labels.text.fill",
                            stylers: [{ color: "#806b63" }],
                        },
                        {
                            featureType: "transit.line",
                            elementType: "geometry",
                            stylers: [{ color: "#dfd2ae" }],
                        },
                        {
                            featureType: "transit.line",
                            elementType: "labels.text.fill",
                            stylers: [{ color: "#8f7d77" }],
                        },
                        {
                            featureType: "transit.line",
                            elementType: "labels.text.stroke",
                            stylers: [{ color: "#ebe3cd" }],
                        },
                        {
                            featureType: "transit.station",
                            elementType: "geometry",
                            stylers: [{ color: "#dfd2ae" }],
                        },
                        {
                            featureType: "water",
                            elementType: "geometry.fill",
                            stylers: [{ color: "#b9d3c2" }],
                        },
                        {
                            featureType: "water",
                            elementType: "labels.text.fill",
                            stylers: [{ color: "#92998d" }],
                        },
                    ],
                    { name: "Styled Map" }
                );

                // Create a map object, and include the MapTypeId to add
                // to the map type control.
                const map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 17, //Creating the map and setting its zoom
                    mapTypeControlOptions: {
                        mapTypeIds: ["roadmap", "satellite", "hybrid", "terrain", "styled_map"],
                    },
                });

                //Associate the styled map with the MapTypeId and set it to display.
                map.mapTypes.set("styled_map", styledMapType);
                map.setMapTypeId("styled_map");
                
			  
                //This attempts to access the users current position using the google maps api storing it in position
                navigator.geolocation.getCurrentPosition(function(position){
			        //Center on user location if allowed by user on browser
				    var initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				    map.setCenter(initialLocation);

                    //Sets a marker in the place of the users location
                    var marker = new google.maps.Marker({ //Creates a new google maps marker
                        position: initialLocation, //Sets the position
                        map, //Specifies which map the marker should be placed on
                        title: "Your location", //Sets a title
                        label:{text:"You",color:"white",fontSize:"16px",fontWeight:"bold" }, //Sets a label on top of the marker
                        icon: "{% static 'academic_adventure/user.png'%}" //Sets the icon to be a custom image (user.png)
                    });
			    }, function(positionError){
			        //In the case the user doesn't allow their position to be accessed center the map on Exeter Uni campus
			        map.setCenter(new google.maps.LatLng(50.736443, -3.533165));
			    }, {enableHighAccuracy: true});

                //database info storage
                var lati = [];
                var long = [];
                var des = [];
                var title = [];
                var date = [];
                var dur = [];
                var type = [];
                var numEvent = 0;
                    
                /**
                 * loads event data from django database of all the events that are in the next two hours
                 */
                function loadMarkers(){

                    //load up each object in the query set
                    {% for event in events %}
                    //Calls the recent function on the event to only store data for the upcoming events in the next 2 hours
                    //Also only shows the events that the user is not already registered for
                    {% if event.recent and user not in event.members.all %}

                    //store info from event database in each array defined above
                    lati.push("{{ event.latitude }}");
                    long.push("{{ event.longitude }}");
                    des.push("{{ event.description }}");
                    title.push("{{ event.name }}");
                    date.push("{{ event.date }}");
                    dur.push("{{ event.duration }}");
                    type.push("{{ event.type }}");
                    numEvent++; /*counter*/

                    {% endif %}

                    {% endfor %}

                };
                loadMarkers();// call the load markers function to retrieve marker data from the django database, and store it on the JS lists.

                /*icon type dictionary*/
                /*Change image url for each type of event*/
                var icons = {
                    Academic: {
                        icon: "{% static 'academic_adventure/academic.png'%}" //Sets the academic event icon to a custom icon
                    },
                    Sports: {
                        icon: "{% static 'academic_adventure/sports.png'%}" //Sets the sports event icon to a custom icon
                    },
                    Battle: {
                        icon: "{% static 'academic_adventure/battle.png'%}" //Sets the battle event icon to a custom icon
                    },
                    Social: {
                        icon: "{% static 'academic_adventure/social.png'%}" //Sets the social event icon to a custom icon
                    }
                };

                /**
                 * Adds markers to the map for each event
                 */
                function placeMarkers(){

                    var features =[];//stores a list marker objects

                    for(i=0; i<numEvent;i++){ // a loop to push marker objects into the 'features' list
                        //Gets the location (lat and long) of a marker
                        var x = parseFloat(lati[i]); 
                        var y = parseFloat(long[i]);

                        //Pushes a new marker into the array of marker objects
                        features.push({
                            position: new google.maps.LatLng(x,y), //Sets the position
                            description: des[i], //Sets the description
                            date: date[i], //Sets the date of the event
                            duration: dur[i], //Sets the duration of the event
                            title: title[i], //Sets the title of the event
                            type: type[i] //Sets the type of event

                        });
                    }

                    /*instantiate info window object*/
                    infowindow = new google.maps.InfoWindow();

                    // Iterate through list of marker objects and create and place markers
                    features.forEach(function(feature) {
                        var marker = new google.maps.Marker({ //Creates a new google maps marker
                            position: feature.position, //Sets its position
                            icon: icons[feature.type].icon, //Sets its icon
                            title: feature.title, //Sets its title
                            description: feature.description, //Sets its description
                            date: feature.date, //Sets its date
                            type: feature.type, //Sets its type
                            map: map //Specifies the map to place the marker on
                        });

                        /*click event listener to show info window for each marker */
                        google.maps.event.addListener(marker, 'click', function() {
                            /*Sets the content of what is displayed in the info window*/
                            var contentInfo = 
                            '<h1>'+ this.title +'</h1>' + //Title of the event
                            '<h6>Event Type: </h6>' +
                            '<p>'+ this.type +'<p>' + //Type of event
                            // '<h6>Host: </h6>' +
                            // '<p>'+ this.host +'<p>' +
                            '<h6>Description: </h6>' +
                            '<p>'+ this.description +'<p>' + //Description of event
                            '<h6>Date: </h6>' +
                            '<p>'+ this.date +'<p>' //Date of the event
                            ;


                            /*set content for each marker*/
                            // infowindow.setContent(this.title + this.description + this.date);
                            infowindow.setContent(contentInfo);
                            infowindow.open(map, this);
                    });


                    });
                };
                placeMarkers();//call the place markers functions on the map
            };
            
		</script>

		<title>Map</title>
    </head>

    <!--Content of home.html-->
    <body>
        <!--HTML for navigation bar-->
        <div id="topContainer">
            <img src="{% static 'academic_adventure/logo.png' %}"  id="logo" alt="academic adventure logo">
            <!-- Navbar Button to toggle js that allows the navbarContainer to appear and disappear -->
            <button type="button" id="navbarButton">Menu</button>
            <!-- Profile Button that shows user's profile picture -->
            <button type="button" id="profilePicture" data-bs-toggle="modal" data-bs-target="#profileModal"><img src="{% static 'academic_adventure/user.png' %}"></button>
        </div>
            <div class="d-flex" id="navbarContainer">
              <ul class="navbar-nav ms-auto">
                  <!-- Link to redirect to specified page -->
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'academic_adventure:home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'academic_adventure:events' %}">Events</a>
                </li>
              {% if not userevent %}
              <!-- Button to open specified modal -->
              <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#shopModal" style="border: none; background: none; text-align: left">
                  Shop
              </button>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'academic_adventure:leaderboard' %}">Leaderboard</a>
                </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              </li>
              </ul>
            </div>
          </div>
        </div>
			
		  <div id="map" style="height: 90%;"></div>
			
          <!--This script loads the google maps API to be used as soon as the DOM is loaded-->
		  <script
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS7uNAAWZIIeVC3-GXZUx7hNdkLoY7I3E&callback=initMap&v=weekly"
		    async
		  ></script>

          <!--Modal for profile page-->
          <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModal" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="profileModal">Profile</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6" id="userProfilePic">
                            <h2>Hello {{user.username}}!</h2>
                            <img src="{{ user.profile_pic.url }}">
                            <img src="{% static 'academic_adventure/logo.png' %}"  id="logo" alt="academic adventure logo">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#inventoryModal">Inventory</button>
                            <br>
                            <br>
                            <br>
                            <br>
                          </div>
  
                          <div class="col-md-6" id="userInfo">
                              <h3>Your stats:</h3>
                              <h2>Overall score: {{user.score|floatformat:"2"}}</h2>
                              <p>Points: {{user.points}}</p>
                              <p>Intelligence: {{user.intelligence}}</p>
                              <p>Sociability: {{user.sociability}}</p>
                              <p>Athleticism: {{user.athleticism}}</p>
                              <p>Intelligence position: {{intelligence_position}}</p>
                              <p>Sociability position: {{sociability_position}}</p>
                              <p>Athleticism position: {{athleticism_position}}</p>
                          </div>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <!--Modal for inventory-->
          <div class="modal fade" id="inventoryModal" tabindex="-1" aria-labelledby="inventoryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inventoryModalLabel">Inventory</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Inventory
                </div>
                </div>
              </div>
            </div>
          </div>
          
          <!--Modal for shop-->
          <div class="modal fade" id="shopModal" tabindex="-1" aria-labelledby="shopModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="shopModalLabel">Shop</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Shop Here
                    {% for picture in pictures %}
                    {% if picture not in user_pictures %}
                        <p>PICTURE</p>
                    {% endif %}
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
          
    </body>
</html>