<!DOCTYPE html>

{% load static %}

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <!--The polyfill is needed for displaying of the map-->
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		
		<!--This styling is used to dictate the sizing of the map on the page-->
		<style>
			#map{
				height: 95%;
			}
			
			html, body{
				height: 95%;
				margin: 0;
				padding: 0;
			}
		</style>
		
		<!--This script will create a new google maps entity within the map div-->
		<!--Zoom 15 is used to move it to a nore local map display-->
		<!--Center used to look at the middle of campus-->
		<script>
			let map;

			function initMap() {
			  //Creating the map and setting its zoom
			  map = new google.maps.Map(document.getElementById("map"));
			  map.setZoom(17);
			  
			  //This attempts to access the users current position using the google maps api storing it in position
			  navigator.geolocation.getCurrentPosition(function(position){
			      //Center on user location if allowed by user on browser
				  var initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				  map.setCenter(initialLocation);

                  var marker = new google.maps.Marker({
                      position: initialLocation,
                      map,
                      title: "Your location",
                      label: "You",
                  });
			  }, function(positionError){
			      //In the case the user doesn't allow their position to be accessed center the map on Exeter Uni campus
			      map.setCenter(new google.maps.LatLng(50.736443, -3.533165));
			  }, {enableHighAccuracy: true});

                //database info storage
                var lati = [];
                var long = [];
                var des = [];
                var title = [];
                var date = [];
                var dur = [];
                var type = [];
                var numEvent = 0;
                    
                //this function loads up event data from django database
                function loadMarkers(){

                    //load up each object in the query set
                    {% for event in events %}
                    //Calls the recent function on the event to only store data for the upcoming events in the next 2 hours
                    {% if event.recent %}

                    //store info from event database
                    lati.push("{{ event.latitude }}");
                    long.push("{{ event.longitude }}");
                    des.push("{{ event.description }}");
                    title.push("{{ event.name }}");
                    date.push("{{ event.date }}");
                    dur.push("{{ event.duration }}");
                    type.push("{{ event.type }}");
                    numEvent++; /*counter*/

                    {% endif %}

                    {% endfor %}

                };
                loadMarkers();

                /*icon type dictionary*/
                /*Change image url for each type of event*/
                var icons = {
                    academic: {
                        icon: 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png'
                    },
                    sport: {
                        icon: 'https://trello.com/1/cards/621b979783a1d85b688ade45/attachments/621e7a8e7b0c9f7243c87f88/download/sports.png'
                    },
                    social: {
                        icon: 'https://maps.google.com/mapfiles/kml/shapes/info-i_maps.png'
                    }
                };

                /* Adds markers to the map for each event */
                function placeMarkers(){

                    var features =[];

                    for(i=0; i<numEvent;i++){
                        var x = parseFloat(lati[i]);
                        var y = parseFloat(long[i]);

                        features.push({
                            position: new google.maps.LatLng(x,y),
                            description: des[i],
                            date: date[i],
                            duration: dur[i],
                            title: title[i],  
                            type: type[i]

                        });
                    }

                    /*instantiate info window obj*/
                    infowindow = new google.maps.InfoWindow();

                    // Create markers.
                    features.forEach(function(feature) {
                        var marker = new google.maps.Marker({
                            position: feature.position,
                            icon: icons[feature.type].icon,
                            title: feature.title,
                            description: feature.description,
                            date: feature.date,
                            type: feature.type,
                            map: map
                        });

                        /*click event listener to show info window for each marker */
                        google.maps.event.addListener(marker, 'click', function() {
                            /*html body elements that goes into the info window*/
                            var contentInfo = 
                            '<h1>'+ this.title +'</h1>' +
                            '<h6>Event Type: </h6>' +
                            '<p>'+ this.type +'<p>' +
                            // '<h6>Host: </h6>' +
                            // '<p>'+ this.host +'<p>' +
                            '<h6>Description: </h6>' +
                            '<p>'+ this.description +'<p>' +
                            '<h6>Date: </h6>' +
                            '<p>'+ this.date +'<p>'
                            ;


                            /*set content for each marker*/
                            // infowindow.setContent(this.title + this.description + this.date);
                            infowindow.setContent(contentInfo);
                            infowindow.open(map, this);
                    });


                    });
                };
                placeMarkers();

                    

              
            };
            
		</script>

		<title>Map</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{% static 'academic_adventure/logo.png' %}"  alt="logo" style="width:110px; height:70px;">
            </a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'academic_adventure:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'academic_adventure:leaderboard' %}">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'academic_adventure:scan' %}">Scan</a>
                </li>
                {% if gamekeeper %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'academic_adventure:create' %}">Create</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
              </ul>
          </nav>
			
		  <div id="map"></div>
			
          <!--This script loads the google maps API to be used as soon as the DOM is loaded-->
		  <script
		    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDS7uNAAWZIIeVC3-GXZUx7hNdkLoY7I3E&callback=initMap&v=weekly"
		    async
		  ></script>
    </body>
</html>