<div id="topContainer">
    <img src="{% static 'academic_adventure/logo.png' %}"  id="logo">
</div>
<div id="navbarContainer">
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse show navbar-collapse" id="navbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'academic_adventure:map' %}">Map</a>
                </li>
                <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#leaderboard" style="border: none; background: none; text-align: left;">
                    Leaderboard
                </button>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'academic_adventure:scan' %}">Scan</a>
                </li>

                {% if gamekeeper %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'academic_adventure:create' %}">Create</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="modal fade" id="leaderboard" tabindex="-1" aria-labelledby="leaderboardLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="leaderboardLabel">Leaderboard</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Leaderboard Here
        </div>
      </div>
    </div>
</div>