<!DOCTYPE html>

{% load static %}

{% if user.is_authenticated %}

<meta http-equiv="Refresh" content="0; url={% url 'academic_adventure:home' %}">

{% endif %}

<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <title>login</title>
    </head>

    <body>
        <div>
            <h1>Login:</h1>
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Login</button>
                <a href="{% url 'register:register' %}" class="btn btn-success">Register</a>
            </form>
        </div>

    </body>
</html>